@{
    Layout = "Shared/_Layout.cshtml";
}

<h2>Edit Client Name: @Model.GetName()</h2>
<form action="/stylist/client/edit/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="client-id" type="hidden" value="@Model.GetId()">
  <label for="client-name">Client name</label>
  <input name="client-name" type="text">
  <button type="submit">Edit</button>
</form>
